<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Train Locator</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    </head>

    <body>
        <div style="clear: both; display: block; height: 20px;"></div>
        <div class="container">
            <div class="col-md-12">
                <h3 th:inline="text">Hello [[${user.firstName}]], welcome to Train Locator!</h3>
            </div>
            <div class="row col-md-10">
                <div class="col-md-1">
                    <form th:action="@{/logout}" method="POST">
                        <input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
                    </form>
                </div>
                <div class="col-md-2">
                    <a href="/personalinfo" class="btn btn-sm btn-outline-success">Personal info</a>
                </div>
                <div sec:authorize="hasAuthority('ADMIN')" class="col-md-2 offset-md-1">
                    <a href="/userlist" class="btn btn-sm btn-outline-info">User list</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div style="clear: both; display: block; height: 20px;"></div>
            <div class="col-md-4">
                <h1>Trains</h1>
            </div>
            <div style="clear: both; display: block; height: 20px;"></div>
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Destination</th>
                        <th>Speed</th>
                        <th>Coordinates</th>
                    </tr>
                    <tr th:if="${trains.empty}">
                        <td colspan="4">No trains here!</td>
                    </tr>
                    <tr th:each="train : ${trains}">
                        <td th:text="${train.name}"></td>
                        <td th:text="${train.destination}"></td>
                        <td th:text="${train.speed}"></td>
                        <td th:text="|${train.location.coordinates[0]}, ${train.location.coordinates[1]}|"></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>